- form_name = require("../helpers/filter.js").Elements.form

form(class=`${locals.parent}__filter filter` name=form_name)
  h2.filter__title Фильтр
  button.filter__button.js-filter__button(type="button") Показать
